.flex-container{
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
}

.flex-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin:0 20px 20px 20px;
    background-color:#FFE3C4;
}

.item-1{
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
}

.item-2{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}

.item-3{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.item-4{
    font-family: "Fjalla One", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.item-5{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 768px) {
    .flex-container {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

