body {
    margin: 0;
}

h1,p {
    margin:0;
    padding: 0;
}

.first {
    background-image: url("./images/background_image_1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.second {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./images/background_image_2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.third {
    background-image: url("./images/background_image_3.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
}

.window-first-img{
    height: 26vh;
}
.window-first-img img{
    height: 26vh;
    width: 19.5vw;
}

.window-first-2 {
    height: 26vh;
    width: 19.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.window-first-1 {
    background-color: #FAF9F7;
    display: flex;
    flex-direction: row;
}

.window-first-text h1 {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: KoHo;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.window-paragraph p {
    color: #000;
    font-family: KoHo;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background-color: rgba(217, 217, 217, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 15vw;
    height: 5vh;
}

.window-second-text h3, .window-second-text p {
    color: #000;
    font-family: KoHo;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 949px;
}

.window-second-text h3 {
    padding-top: 50px;
}

.window-third-block {
    background-color: rgba(83, 83, 83, 0.40);
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.window-third-block h1,
.window-third-block p,
button {
    font-family: KoHo;
    font-size: 1.5rem;
    font-weight: 400;
}

button {
    color: #6B6666;
}

