* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.block-1 {
    background-image: url('../images/main_banner_2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.block-1-navigation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.block-1-link,
.block-1-link-logo {
    padding: 2.5rem;
}

.block-1-link-logo {
    padding: 1.2rem;
}

.txt-w-btn-h1 h1{
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.35rem;
}

.txt-w-btn-p p{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    opacity: 0.8;

}

.txt-w-btn-b {
    padding: 1rem 2.1rem;
    align-items: flex-start;
    border-radius: 5px;
    background: #FF4B32;
    color: #FFF;
    font-family: "Open Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block-1-txt-w-btn{
    width: 37.2vw;
    padding-left:11.3rem;
}

.block-1-link a,
.block-1-link-logo a {
    text-decoration: none;
}

.coffe{
    color: #FF4B32;
    font-family: "Josefin Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.95rem;
}

.home {
    color: #FF4B32;
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8rem;
}

.about-us,
.menu,
.review,
.contact {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    opacity: 0.6;
}

.logo {
    width: 139px;
}

.block-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-2-wrapper {
    min-width: 79.7vw;
}

.block-2-h1 h1 {
    color: #000;
    font-family: "Josefin Sans";
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.4rem;
    letter-spacing: 6px;
}

.block-2-p p {
    color: #000;
    font-family: "Open Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
}

.block2-products {
    display: flex;
    justify-content: space-around;
}

.block2-product-1-img img,
.block2-product-2-img img,
.block2-product-3-img img {
   max-width: 20.8vw;
    height: 100%;
}

.block2-product-2-img,
.block2-product-3-img,
.block2-product-1-img {
    padding-top: 2.7rem;
}

.block2-product-1-name h2,
.block2-product-2-name h2,
.block2-product-3-name h2 {
    color: #000;
    /* Heading / Base */
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.6rem;
}

.block2-product-1-price p,
.block2-product-2-price p,
.block2-product-3-price p {
    color: #0C0D0C;
    font-family: "Josefin Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.6rem;
}

.block2-product-2-description p,
.block2-product-1-description p,
.block2-product-3-description p {
    color: #000;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    opacity: 0.6;
}

.block2-product-3-description,
.block2-product-2-description,
.block2-product-1-description {
    max-width: 17.8vw;
}

.block2-product-3,
.block2-product-2,
.block2-product-1 {
    width: 21.5vw;
}

.block-2 {
    padding-top: 8.75rem;
}

.block-3 {
    padding-top: 14.1rem;
}

.block-3-gallery-h1 h1 {
    color: #000;
    text-align: center;

    /* Subtitle / Base */
    font-family: "Josefin Sans";
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem
}

.block-3-gallery-p p {
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    opacity: 0.7;
    width: 42.2vw;
}

.block-3-gallery-img-full {
    padding-top: 3.7rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block-3-gallery-img {
    margin: 1rem;
}

.block-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.block-3-wrapper {
    width: 79.7vw;
}

.g-img {
    max-width: 25.1vw;
    height: 100%;
}

.block-3-gallery-p {
    display: flex;
    justify-content: center;
}

.block-3-load-more {
    padding-top: 4.6rem;
    display: flex;
    justify-content: center;
}

.block-3-load-more a {
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
}

.block-4 {
    background-image: url('../images/follow_us.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin-top: 17.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-4-follow-us span {
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
}

.block-4-h1 h1 {
    color: #FFF;
    text-align: center;
    /* Subtitle / Base */
    font-family: "Josefin Sans";
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.5rem;
}

.block-4-number span,
.block-4-mail span {
    color: #FFF;
    text-align: center;
    /* Subheading / Base */
    font-family: "Open Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
}

.block-4-follow-us,
.block-4-number,
.block-4-mail  {
    display: flex;
    justify-content: center;
}

.block-4-social {
    display: flex;
    justify-content: center;
}

.block-4-social img {
    padding: 1.9rem;
}

.block-4-number img {
   width: 24px;
    height: 24px;
    display: flex;
}

.block-4-mail img {
    width: 20px;
    height: 16px;
}

.block-4-number a,
.block-4-mail a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    /* Subheading / Base */
    font-family: "Open Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
}

.block-4-number,
.block-4-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}

.telephone-link,
.gmail_logo {
    padding-right: 5px;
}

.block-4-social-link {
    display: flex;
    justify-content: center;
    padding-top: 1.9rem;
}

.block-4-social-link img{
    margin: 2.5rem;
}


.block-5 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-5-wrapper {
    min-width: 79.7vw;
}

.block-5-h1 h1 {
    color: #000;
    font-family: "Josefin Sans";
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3.4rem;
    letter-spacing: 6px;
    margin: 0;
    padding: 0;
}

.block-5-p p {
    color: #000;
    text-align: center;
    /* Body / Base */
    font-family: "Open Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8rem;
    opacity: 0.7;
    margin: 0;
    padding: 0;
}

.block5-products-s {
    display: flex;
    justify-content: space-around;
}

.block5-product-1-img img,
.block5-product-2-img img,
.block5-product-3-img img {
    width: 21.5vw;
    height: 100%;
}


.block5-product-1-name h2,
.block5-product-2-name h2,
.block5-product-3-name h2 {
    color: #000;
    /* Heading / Base */
    font-family: "Josefin Sans";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.6rem;
}

.block5-product-1-more p a,
.block5-product-2-more p a,
.block5-product-3-more p a{
    color: #FF4B32;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem;
}

.block5-product-2-description p,
.block5-product-1-description p,
.block5-product-3-description p {
    color: #000;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6rem;
    opacity: 0.6;
}

.block5-product-3-description,
.block5-product-2-description,
.block5-product-1-description {
    max-width: 17.8vw;
}

.block5-product-3,
.block5-product-2,
.block5-product-1 {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0px rgba(0, 0, 0, 0.20);
}

.block-5 {
    padding-top: 9.5rem;
}

.block-5-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block-5-p {
    width: 42.2vw;
    padding-bottom: 3.75rem;
}

.block5-product-2-name,
.block5-product-2-description,
.block5-product-3-name,
.block5-product-3-description,
.block5-product-1-name,
.block5-product-1-description {
    padding-left: 2.1rem;
    padding-top: 1.8rem;
}

.block5-product-1-more,
.block5-product-2-more,
.block5-product-3-more {
    padding-left: 2.3rem;
    padding-top: 1.2rem;
    padding-bottom: 1.8rem;
}

.block-5-h1 {
    padding-bottom: 1.2rem;
}

.block-6 {
    background-color:#0D0402;
}

.block-6-3-text,
.block-6-2-text,
.block-6-3-upper,
.block-6-2-upper,
.block-6-1-text,
.block-6-4-upper,
.block-6-bottom {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7rem;
}

.block-6-3-text a,
.block-6-2-text a,
.block-6-3-upper a,
.block-6-2-upper a,
.block-6-1-text a,
.block-6-4-upper a,
.block-6-bottom a {
    color: #FFF;
}

.block-6-2-upper,
.block-6-3-upper,
.block-6-1-upper,
.block-6-4-upper {
    margin-top: 1.3rem;
}

.block-6 {
    margin-top: 8.7rem;
    width: 100%;
}

.block-6-wrapper {
    display: flex;
    justify-content:space-around;
    width: 79.7vw;
    min-height: 38.5vh;
}

.block-6-wr-flex {
    display: flex;
    justify-content: center;

}

.block-6-wrapper {
    margin-top: 3.6rem;
}

.block-6-2-text,
.block-6-3-text {
    margin-top: 1.2rem;
}

.block-6-1-text {
    width: 21vw;
}

.block-6-1-text-w-phone {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-6-4-social {
    margin-top: 2.2rem;
}

.block-6-4-social img{
    padding-right: 1.7rem;
}

.block-6-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space{
    height: 22px;
    width: 100%;
}

.block-6-bottom span {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1rem;
}

a {
    text-decoration: none;
}
