body {
    margin: 0;
}

header {
    height: 15vh;
    background-color: #D9D9D9;
}

footer {
    height: 20vh;
    background-color: #D9D9D9;
}

.main {
    display: flex;
    flex-direction: row;
    height: 65vh;
}

.block-1, .block-2, .block-3 {
    width: calc(100vw / 3);
}

.block-1 {
    height: 65vh;
    width: 33vw;
    background-color: #78786F;
}

.block-2 {
    height: 65vh;
    width: 33vw;
    background-color: #61615C;
}

.block-3 {
    height: 65vh;
    width: 33vw;
    background-color: #78786F;
}

@media screen and (max-width: 768px) {
    .main {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }

    .block-1, .block-2, .block-3 {
        width: 100vw;
    }

}
