body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #FFFFFF;
}

.container, .new-accounting {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reg-form {
    text-align: center;
}

img{
    width: 200px;
}

.new-accounting {
    margin-top: 40px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #68B5FA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3897f0;
}

p {
    margin-top: 20px;
}

a {
    color: #3897f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.fb-icon{
    width: 20px;
    height: 20px;
}

.reg-form-if p {
    text-transform: uppercase;
    font-weight: bold;
    color: #737373;
}

.reg-form-fb a {
    font-weight: bold;
    color: #375185;
}

.reg-form-forgot {
    padding-top: 20px;
}

.reg-form-forgot a {
    color: #375185;
}

.new-accounting a {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    .new-accounting{
        text-align: center;
    }

}
