@media only screen and (max-width: 768px) {

    .navigation {
        display: flex;
        flex-direction: column;
    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 25vh;
    }

    .article {
        flex-basis: calc(100% - 10px);
        height: 15vh;
        background: #49A0C6;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    .footer {
        height: 5vh;
    }

    .article {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .text {
        padding: 0;
    }

    .banner, .article-text {
        padding: 0;
    }

}

